In [1]:
#Impoer dependancies
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
from config import password
import psycopg2

In [2]:
#Create Engine
from sqlalchemy import create_engine
engine = create_engine(f"postgresql://postgres:{password}@localhost/employees_db")
connection = engine.connect()

In [3]:
# Query All Records from each table
salary_data = pd.read_sql('SELECT * FROM salaries', connection)
department_data = pd.read_sql('SELECT * FROM departments', connection)
employee_data = pd.read_sql('SELECT * FROM employees', connection)

# Rename column in employee table 
employee_data = employee_data.rename(columns={'emp_title':'title_id'})
dept_emp_data = pd.read_sql('SELECT * FROM dept_emp', connection)
dept_manager_data = pd.read_sql('SELECT * FROM dept_manager', connection)
title_data = pd.read_sql('SELECT * FROM titles', connection)

In [5]:
# # Create a histogram to visualize the most common salary ranges for employees
# salary_data.hist(column='salary_data')
# plt.xlabel("Salary")
# plt.ylabel("# of employees")
# plt.title("Most common salary ranges for employees")
# plt.savefig("Histogram.png")

KeyError: "None of [Index(['salary_data'], dtype='object')] are in the [columns]"

In [6]:

# Merging all relevant data together
merged_data = employee_data.merge(salary_data, on='emp_no')
merged_data = merged_data.merge(title_data, on='title_id')
merged_data.head()

,emp_no,title_id,birth_date,first_name,last_name,sex,hire_date,salary,title
0,473302,s0001,1953-07-25,Hideyuki,Zallocco,M,1990-04-28,40000,Staff
1,421786,s0001,1957-09-28,Xiong,Verhoeff,M,1987-11-26,40000,Staff
2,273487,s0001,1957-04-14,Christoph,Parfitt,M,1991-06-28,56087,Staff
3,246449,s0001,1958-03-23,Subbu,Bultermann,F,1988-03-25,87084,Staff
4,48085,s0001,1964-01-19,Venkatesan,Gilg,M,1993-06-28,63016,Staff

In [7]:
# Getting the average salary by title.
grouped_by_title = merged_data.groupby('title').mean()['salary']
grouped_df = pd.DataFrame(grouped_by_title)
grouped_df = grouped_df.reset_index()
grouped_df

KeyError: 'salary'

In [8]:
# Create a histogram to visualize the most common salary ranges for employees
salary_data.hist(column='salary_data')
plt.xlabel("Salary")
plt.ylabel("# of employees")
plt.title("Most common salary ranges for employees")
plt.savefig("Histogram.png")

KeyError: "None of [Index(['salary_data'], dtype='object')] are in the [columns]"

In [37]:
x_axis = np.arange(len(grouped_df))
labels = grouped_df['title']
# Create a bar chart based upon the above data
plt.bar(x_axis, grouped_df["salary"], align="center")
# Create the ticks for our bar chart's x axis
plt.xticks(x_axis, labels, rotation=90)
plt.xlabel("Title")
plt.ylabel("Salary")
plt.title("Average Salary By Title")
plt.savefig("BarChart.png")
plt.show()

NameError: name 'grouped_df' is not defined

In [38]:
id_num = merged_data.loc[merged_data["emp_no"] == 499942]
id_num

,emp_no,title_id,birth_date,first_name,last_name,sex,hire_date,salary,title
287532,499942,e0004,1963-01-10,April,Foolsday,F,1997-02-10,40000,Technique Leader